.mapContainer {
  max-width: 1400px;
  width: 100%;
  margin: 20px auto 100px auto;
  /*padding: 0 15px;*/
}

.tileContainer {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
