.dashItem {
  border: 1px solid red;
  border-radius: 10px;

  width: 95%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.dashItem:hover {
  background: white;
  color: #3f51b5;
}
