.mdl-layout__drawer-button, .mdl-layout__drawer {
  left: initial !important;
  right: 0 !important;
}

.mdl-layout__drawer {
  transform: translateX(250px) !important;
}

.mdl-layout__drawer.is-visible {
  transform: translateX(0) !important;
}
