
.container {
  background: #004D40;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: all 250ms ease-out;
}

.container.open {
  transform: translateX(0);
}
