
.container {
  background: #004D40;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: all 250ms ease-out;
}

@media (min-width: 550px) {
  .container {
    left: inherit;
    right: 0;
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 500px;
  }
}
