.container {
  /* Layout & Positioning */
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px;

  /* Colors */
  background: #00796B;
  color: white;
}

.title {
  /* Use FlexBox to vertically center the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
