
/*
  Side Menu Item Container
  --------------------------------------
*/
.container {
  border: 1px solid red;
  border-radius: 10px;

  width: 95%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.5rem;
  /*text-align: center;*/
}

.container:hover {
  /*background: white;
  color: #3f51b5;*/
}

.row {
  display: flex;
  justify-content: center;
}


/*
  Dash Icon, Vehicle Name, and MPG
  ----------------------------------------
*/
.icon { margin: 0 10px; }
.name { margin: 0 5px; }
.milesPerGallon { margin: 0 10px; }
